<footer>
    <div class="callout large secondary">
        <div class="row">
            <div class="large-3 medium-3 small-3 columns">
                <a href="youtube.com" target="_blanck">
                    <img src="../../../assets/001-youtube.png" alt="YOUTUBE IMG" class="imgAjust">
                </a>
            </div>
            <div class="large-3 medium-3 small-3 columns">
                <a href="twitter.com" target="_blanck">
                    <img src="../../../assets/008-twitter.png" alt="TWITTER IMG" class="imgAjust">
                </a>
            </div>
            <div class="large-3 medium-3 small-3 columns">
                <a href="instagram.com" target="_blanck">
                    <img src="../../../assets//029-instagram.png" alt="INSTAGRAM IMG" class="imgAjust">
                </a>
            </div>
            <div class="large-3 medium-3 small-3 columns">
                <a href="facebook.com" target="_blanck">
                    <img src="../../../assets/036-facebook.png" alt="FACEBOOK IMG" class="imgAjust">
                </a>
            </div>
        </div>
    </div>
</footer>