<footer>
    <div class="large">
        <div class="row columns text-center">
            <h5 class="titles">Redes Sociales</h5>
            <a href="youtube.com" target="_blanck">
                <img src="../../../assets/001-youtube.png" alt="YOUTUBE IMG" class="imgAjust">
            </a>
            <a href="twitter.com" target="_blanck">
                <img src="../../../assets/008-twitter.png" alt="TWITTER IMG" class="imgAjust">
            </a>
            <a href="instagram.com" target="_blanck">
                <img src="../../../assets//029-instagram.png" alt="INSTAGRAM IMG" class="imgAjust">
            </a>
            <a href="facebook.com" target="_blanck">
                <img src="../../../assets/036-facebook.png" alt="FACEBOOK IMG" class="imgAjust">
            </a>
            <p>Copyright © 2019 Mario Pons - Anibal Higueros. All rights reserved.</p>
        </div>
    </div>
</footer>