<nav class=".nav">
    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <h3 class="menu-text titles" [routerLink]="['/home']" routerLinkActive="router-link-active">TEAM SPORTS</h3>
        </div>
        <div class="top-bar-right titles">
            <ul class="dropdown menu">
                <li>
                    <ul class="dropdown menu">
                        <li dropdown #dropdownText="bs-dropdown" triggers="mouseover" class="is-dropdown-submenu-parent">
                            <a dropdownToggle (click)="false">
                                <i class="material-icons">account_box</i>
                            </a>
                            <ul id="dropdown-triggers-manual" *dropdownMenu class="menu is-dropdown-submenu" role="menu" aria-labelledby="button-triggers-manual">
                                <li role="menuitem"><a [routerLink]="['/profile']"><i class="material-icons">account_circle</i></a></li>
                                <li role="menuitem"><a [routerLink]="['/profile']">Moderar</a></li>
                                <li role="menuitem"><a [routerLink]="['/home']"><i class="material-icons">lock</i></a></li>
                                <li class="divider dropdown-divider"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Categorias</a>
                </li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">¿Quiénes somos? / Historia</a></li>
            </ul>
        </div>
    </div>
</nav>