<nav class=".nav">
    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <h3 class="menu-text titles" [routerLink]="['/home']" routerLinkActive="router-link-active">Articulos</h3>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu">
                <li>
                    <ul class="dropdown menu">
                        <li dropdown #dropdownText="bs-dropdown" triggers="mouseover" class="is-dropdown-submenu-parent">
                            <a dropdownToggle (click)="false">
                              Usuarios
                            </a>
                            <ul id="dropdown-triggers-manual" *dropdownMenu class="menu is-dropdown-submenu" role="menu" aria-labelledby="button-triggers-manual">
                                <li role="menuitem"><a href="#">Perfil</a></li>
                                <li role="menuitem"><a href="#">Moderar</a>
                                </li>
                                <li role="menuitem"><a href="#">Cerrar Sesión</a></li>
                                <li class="divider dropdown-divider"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li dropdown #dropdownText="bs-dropdown" triggers="mouseover" class="is-dropdown-submenu-parent">
                    <a dropdownToggle (click)="false">Categorias</a>
                    <ul class="menu vertical" *dropdownMenu class="menu is-dropdown-submenu">
                    </ul>
                </li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">¿Quiénes somos?</a></li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">Historia</a></li>
            </ul>
        </div>
    </div>
</nav>