#art1 {
    text-align: justify;
  }
  
  ng-container{
    width: 0px;
    margin:5em auto; 
  }

ul, li {
  list-style: none;
}
em{
  font-size: 0.75em;
}
ul.simple-nested li{
margin-left: 3em;
}
div.comment{
  border: 1px solid #999999;
  padding: 1em;
  margin-bottom: 1em;

}
ul.simple-nested li ul{
  border-left: 1px solid #999;
  position: relative;
}
ul.simple-nested li ul::before{
  content: '';
  border-bottom: 1px solid #999;
  position: absolute;
  width: 2em;
  top: 2em;
}



