<div class="contenido row columns" *ngIf="plantillaA">
    <section class="row column">
        <h1 class="text-center titles">{{articulo.articulo[0].titulo_articulo}}</h1>
        <hr />
        <div class="show-for-small-up">
            <span class="label success" *ngFor="let u of articulo.categorias">{{u.sub_categoria}}</span>
        </div>
        <div class="show-for-small-up">
            <span class="label primary" *ngFor="let u of articulo.articulo">Creado {{u.fecha_creacion}}</span>
            <span class="label primary" *ngFor="let u of articulo.articulo">Publicado {{u.fecha_publicacion}}</span>
        </div>
        <div class="show-for-small-up">
            <span class="label success">Visitas {{articulo.articulo[0].visita_articulo}}</span>
        </div>
        <hr>
    </section>
    <section class="row column">
        <carousel [showIndicators]="true">
            <slide *ngFor="let u of articulo.imagenes">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="{{u.path}}" alt="First slide" style="height: 400px;">
                </figure>
            </slide>
        </carousel>
    </section>
    <section class="row column">
        <p *ngFor="let item of articulo.parrafos" class="text-center text-justify">{{item.parrafo_articulo}}</p>
    </section>
    <section class="row column">
        <div class="show-for-small-up">
            <h4 class="label primary">Referencias</h4>
            <a class="label success" href="{{item.link_articulo}}" *ngFor="let item of articulo.links">{{item.link_articulo}}</a>
            <a class="label success" href="{{item.link_articulo}}" target="_blank" *ngFor="let item of articulo.links">{{item.link_articulo}}</a>
        </div>
    </section>
    <br>
    <div class="contenido row columns">
        <section class="ads">
            <div class="row">
                <div class="medium-6 columns" *ngFor="let item of adsObject">
                    <a href="{{item.nombre_publicidad}}" (click)="updateVisitas(item);">
                        <img src="{{item.imagen_publicidad}}" height="450" width="550">
                    </a>
                    <br>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="contenido row columns" *ngIf="plantillaB">
    <section class="row column">
        <h1 class="text-center titles">{{articulo.articulo[0].titulo_articulo}}</h1>
        <hr />
        <div class="show-for-small-up">
            <span class="label success" *ngFor="let u of articulo.categorias">{{u.sub_categoria}}</span>
        </div>
        <div class="show-for-small-up">
            <span class="label primary" *ngFor="let u of articulo.articulo">Creado {{u.fecha_creacion}}</span>
            <span class="label primary" *ngFor="let u of articulo.articulo">Publicado {{u.fecha_publicacion}}</span>
        </div>
        <div class="show-for-small-up">
            <span class="label success">Visitas {{articulo.articulo[0].visita_articulo}}</span>
        </div>
        <hr>
    </section>
    <section class="row column">
        <p class="text-justify">
            {{articulo.parrafos[0].parrafo_articulo}}
        </p>
    </section>
    <section class="row column">
        <img src="{{articulo.imagenes[0].path}}" alt="main article image" class="text-center">
    </section>
    <br>
    <section class="row column">
        <p class="text-justify">
            {{articulo.parrafos[1].parrafo_articulo}}
        </p>
    </section>
    <br>
    <section class="row column">
        <div class="row">
            <div class="medium-6 columns">
                <img src="{{articulo.imagenes[1].path}}" alt="main article image" class="text-center">
            </div>
            <div class="medium-6 columns">
                <img src="{{articulo.imagenes[2].path}}" alt="main article image" class="text-center">
            </div>
        </div>
    </section>
    <br>
    <section class="row column">
        <p class="text-justify">
            {{articulo.parrafos[2].parrafo_articulo}}
        </p>
    </section>
    <section class="row column">
        <div class="show-for-small-up">
            <h4 class="label primary">Referencias</h4>
            <a class="label success" href="{{item.link_articulo}}" *ngFor="let item of articulo.links">{{item.link_articulo}}</a>
            <a class="label success" href="{{item.link_articulo}}" target="_blank" *ngFor="let item of articulo.links">{{item.link_articulo}}</a>
        </div>
    </section>
    <br>
    <div class="contenido row columns">
        <section class="ads">
            <div class="row">
                <div class="medium-6 columns" *ngFor="let item of adsObject">
                    <a href="{{item.nombre_publicidad}}" (click)="updateVisitas(item);">
                        <img src="{{item.imagen_publicidad}}" height="450" width="550">
                    </a>
                    <br>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="contenido row columns" *ngIf="plantillaC">
    <section class="row column">
        <h1 class="text-center titles">{{articulo.articulo[0].titulo_articulo}}</h1>
        <hr />
        <div class="show-for-small-up">
            <span class="label success" *ngFor="let u of articulo.categorias">{{u.sub_categoria}}</span>
        </div>
        <div class="show-for-small-up">
            <span class="label primary" *ngFor="let u of articulo.articulo">Creado {{u.fecha_creacion}}</span>
            <span class="label primary" *ngFor="let u of articulo.articulo">Publicado {{u.fecha_publicacion}}</span>
        </div>
        <div class="show-for-small-up">
            <span class="label success">Visitas {{articulo.articulo[0].visita_articulo}}</span>
        </div>
        <hr>
    </section>
    <section class="row columns">
        <div class="row">
            <div class="large-6 medium-6 small-6 columns">
                <img src="{{articulo.imagenes[0].path}}">
            </div>
            <div class="large-6 medium-6 small-6 columns">
                <p class="text-justify" *ngFor="let item of articulo.parrafos">
                    {{item.parrafo_articulo}} <br>
                </p>
            </div>
        </div>
    </section>
    <section class="row column">
        <div class="show-for-small-up">
            <h4 class="label primary">Referencias</h4>
            <a class="label success" href="{{item.link_articulo}}" *ngFor="let item of articulo.links">{{item.link_articulo}}</a>
            <a class="label success" href="{{item.link_articulo}}" target="_blank" *ngFor="let item of articulo.links">{{item.link_articulo}}</a>
        </div>
    </section>
    <br>
    <div class="contenido row columns">
        <section class="ads">
            <div class="row">
                <div class="medium-6 columns" *ngFor="let item of adsObject">
                    <a href="{{item.nombre_publicidad}}" (click)="updateVisitas(item);">
                        <img src="{{item.imagen_publicidad}}" height="450" width="550">
                    </a>
                    <br>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="contenido row columns">
    <section class="row column">
        <h3>Comentarios</h3>
        <ng-container>
            <ul class="simple-nested">
                <li *ngFor="let item of comentario">
                    <div class="comment">
                        <div class="row column">
                            <em>{{item.fecha_publicacion | date: 'd/m/y'}}</em>
                            <p>{{item.cuerpo_comentario}}</p>
                            <p><a (click)="dismissRespuesta(item);">Responder </a>|<a (click)="reportar(item);">Reportar</a>| <a>Mostrar respuestas</a></p>
                        </div>
                    </div>
                    <!-- <ul>
                        <li>
                            <div class="comment">
                                <p><a href="">Usuario1</a></p>
                                <em>Nov 11 2019</em>
                                <p>Integer elementum turpis sed ante convallis, sit amet maximus orci faucibus. Praesent posuere tortor sit amet dolor semper sollicitudin.</p>
                                <p><a href="">Responder  </a><a href="">  Reportar</a></p>
                            </div>
                            <ul>
                                <li>
                                    <div class="comment">
                                        <p><a href="">Usuario1</a></p>
                                        <em>Nov 11 2019</em>
                                        <p>Integer elementum turpis sed ante convallis, sit amet maximus orci faucibus. Praesent posuere tortor sit amet dolor semper sollicitudin.</p>
                                        <p><a href="">Responder </a> <a href="">  Reportar</a></p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul> -->
                </li>
                <li>
                    <div class="row column" *ngIf="showRespuesta">
                        <form class="comment-section-form" *ngIf="showBoxComment">
                            <div class="comment-section-box">
                                <div class="row">
                                    <div class="small-12 column">
                                        <label>Responder
                                      <input rows="10" type="text" [(ngModel)]="newCommentHijo" name="newCommentHijo">
                                    </label>
                                        <button class="button expanded" (click)="createComentarioHijo();">Responder</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </ng-container>
        <form class="comment-section-form" *ngIf="showBoxComment">
            <div class="comment-section-box">
                <div class="row">
                    <div class="small-12 column">
                        <label>Comentario
                        <input rows="10" type="text" [(ngModel)]="newComment" name="newComment">
                      </label>
                        <button class="button expanded" (click)="createComentario();">comentar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="callout small success" *ngIf="showAlert" (click)="dismissAlert();">
            <h4>{{titleAlert}}</h4>
            <p>{{messageAlert}}</p>
        </div>
    </section>
</div>