<div class="contenido row columns" id="categoria1">
    <section id="titulo">
        <div class="row column">
            <h1 class="text-center titles">Categorias</h1>
        </div>
    </section>
    <section *ngIf="plantillaA">
        <div class="row small-up-1 medium-up-2 large-up-3">
            <div class="column" *ngFor="let item of categorias">
                <div class="callout">
                    <p><img src="{{item.imagen_b}}" alt="Imagen subcategoria"></p>
                    <p class="lead">{{item.nombre_sub}}</p>
                    <p class="subheader">
                        <span class="label success">{{item.nombre_cat}}</span>
                        <span class="label {{item.color}}">{{item.tipo_sub}}</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="plantillaB">
        <div class="row small-up-1 medium-up-2 large-up-2">
            <div class="column" *ngFor="let item of categorias">
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="{{item.imagen_b}}">
                    </div>
                    <div class="media-object-section">
                        <h5>{{item.nombre_sub}}</h5>
                        <p>
                            <span class="label success">{{item.nombre_cat}}</span>
                            <span class="label {{item.color}}">{{item.tipo_sub}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>