<div class="contenido row columns" id="categoria1">
    <section id="titulo">
        <div class="row column">
            <h1 class="text-center titles">Categorias</h1>
        </div>
    </section>
    <section *ngIf="plantillaA">
        <div class="row">
            <div class="callout columns" *ngFor="let item of categorias">
                <p><img src="https://placehold.it/400x370" alt="Imagen subcategoria"></p>
                <p class="lead">SubCategoria 1</p>
                <p class="subheader">Descripción</p>
            </div>
        </div>
    </section>
    <section *ngIf="plantillaB">
        <div class="row">
            <div class="medium-6 columns">
                <h4>Categoria 1</h4>
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h5>Subcategoria 1</h5>
                        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h5>Subcategoria 2</h5>
                        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h5>Subcategoria 3</h5>
                        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
                    </div>

                </div>
            </div>
            <div class="medium-6 columns">
                <h4>Categoria 2</h4>
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h5>Subcategoria 1</h5>
                        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h5>Subcategoria 2</h5>
                        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h5>Subcategoria 3</h5>
                        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>