<div class="contenido row columns">
    <section class="row">
        <div class="columns large-4 medium-4">
            <div class="profile-usertitle">
                <h4 class="titles">Mi Perfil</h4>
                <div class="profile-userpic">
                    <label for="exampleFileUpload" class="button boton-foto-perfil"><img src="https://placehold.it/400x370" alt="foto de perfil" /></label>
                    <div class="profile-usertitle-name">

                    </div>
                    <p class="label secondary">Email: <i class="label success">{{usuario.usuario.correo}}</i></p>
                    <p class="label secondary">Rol: <i class="label success">{{usuario.usuario.tipo_usuario}}</i></p>
                    <p class="label secondary">Subscripcion: <i class="label success">{{mySubscripcion.tipo_sub}}</i></p>
                </div>
                <div class="profile-userbuttons">
                    <div class="button-group">
                        <button class="button success button-round">Editar informacion</button>
                        <button class="button alert button-round" (click)="out();">Cerrar sesion</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-8 medium-8 padre">
            <h4 class="titles text-center">Que otras cosas puedo hacer</h4>
            <accordion [closeOthers]="oneAtATime" class="hijo">
                <accordion-group [isDisabled]="true" heading="Acciones"></accordion-group>
                <accordion-group heading="Mis articulos">
                    <p class="titles text-center">Articulos</p>
                    <a [routerLink]="['/create/article']" class="button success expanded">Crear Articulo</a>
                </accordion-group>
                <accordion-group heading="Administración" *ngIf="showAdministracion">
                    <ul>
                        <li>
                            <p>Si deseas realizar acciones de administración general
                                <a [routerLink]="['/admin']" routerLinkActive="router-link-active">click aquí</a>
                            </p>
                        </li>
                        <li>
                            <p>Si deseas realizar acciones de administración de publicidad
                                <a [routerLink]="['/ads']" routerLinkActive="router-link-active">click aquí</a>
                            </p>
                        </li>
                        <li>
                            <p>Si deseas realizar moderación de articulos y comentarios
                                <a [routerLink]="['/moderation']" routerLinkActive="router-link-active">click aquí</a>
                            </p>
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group heading="Comprar Subscripción">
                    <section>
                        <div class="row columns">
                            <div class="row small-up-1 medium-up-3 large-up-3">
                                <div class="column show-for-small-up" *ngFor="let item of tipoSubscripcion">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <h2>{{item.tipo_sub}}</h2>
                                        </div>
                                        <div class="panel-body">
                                            <p>
                                                La subscripción {{item.tipo_sub}} te puede llamar la atención
                                            </p>
                                        </div>
                                        <div>
                                            <button class="button alert expanded" (click)="openModal(pagarSub,item);">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </accordion-group>
            </accordion>
        </div>
    </section>
</div>

<ng-template #pagarSub>
    <section class="row columns">
        <h4>Pagar Subscripción</h4>
        <hr>
        <p>Has escogido la subscripcion <span class="label secondary">{{subscriocionCreate.tipo_sub}}</span></p>
    </section>
    <section class="row columns">
        <div class="row">
            <div class="large-8 columns">
                <label class="label">Nombre</label>
                <input type="text" max="16" placeholder="Juan perez">
            </div>
            <div class="large-4 columns">
                <label class="label">Fecha vencimiento</label>
                <input type="date">
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="label">Tarjeta</label>
                <input type="text" max="16" placeholder="1234567890123456">
            </div>
            <div class="large-4 columns">
                <label class="label">PIN</label>
                <input type="text" max="4" placeholder="1956">
            </div>
        </div>
    </section>
    <section class="row column">
        <button class="button expanded success" (click)="psc();">Pagar</button>
    </section>
    <button class="close-button" (click)="modalRef.hide();" aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</ng-template>