<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

  <link rel="stylesheet" href="css/home.css" />
</head>

<body>
  <header>
    <nav>
      <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

          <button class="menu-icon alert" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <h6>
                <li class="menu-text">Sports world</li>
              </h6>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\home.html" id="categ">
                  <img src="images\home.png" class="icono"></a></li>

              <li class="has-submenu">
                <a href="#0" id="categ">Categoria 1</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
              <li class="has-submenu">

                <a href="#0" id="categ">Categoria 2</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#0" id="categ">Categoria 3</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><input type="search" placeholder="Search" /></li>
              <li><button type="button" class="button"> <i class="fa-money">Search</i></button></li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section id="titulo">
    <div class="row column">
      <h1 class="text-center">Carros revolucionando la industria automotriz</h1>
    </div>
  </section>
  <hr />
  <section>
    <div class="row">
      <div class="medium-8 columns">
        <p><img src="https://placehold.it/900x450" alt="main article image"></p>
      </div>
      <div class="medium-4 columns">
        <p><img src="https://placehold.it/400x200" alt="article promo image"
            alt="advertisement for deep fried Twinkies"></p>
        <p><img src="https://placehold.it/400x200" alt="article promo image"></p>
      </div>
    </div>
  </section>
  <br>
  <article id="art1">
    <div class="row">
      <div class="large-12 columns">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </article>
  <br>

  <section>
    <div class="row">
      <div class="large-12 columns">
        <div class="row">

          <div class="large-6 columns">
            <img src="https://placehold.it/600x350" alt="main article image">
          </div>
          <div class="large-6 columns">
            <img src="https://placehold.it/600x350" alt="main article image">
          </div>


  </section>
  <br>
  <article id="art1">
    <div class="row">
      <div class="large-12 columns">


        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </article>


  <footer>
    <li class="menu-text">Copyright ©</li>
  </footer>


  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>