<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Añadir articulo</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">

</head>

<body>
  <header>
    <nav>
      <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

          <button class="menu-icon alert" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <h6>
                <li class="menu-text">Sports world</li>
              </h6>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\home.html" id="categ">
                  <img src="images\home.png" class="icono"></a></li>
              <li class="has-submenu">
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="right">
              <li>
                <h3><a href="perfil.html">Mi perfil</a></h3>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </nav>
  </header>

  <body>

    <section>
      </div>

      <form class="log-in-form">
        <h4 class="text-center">Agregar imagen a Catalogo</h4>
        <label>Titulo de Articulo
          <input type="text" placeholder="titulo de articulo">
        </label>
        <label>URL
          <input type="url" placeholder="url de la imagen (puedes subirla a drive)">

          <p><input type="submit" class="button expanded" value="Crear articulo"></input></p>

      </form>

    </section>


    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>