<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="scss/foundation.css" />
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css" />
  <link rel="stylesheet" href="scss/home.scss" />
</head>

<body>
  <header>
    <nav>
      <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

          <button class="menu-icon alert" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <h6>
                <li class="menu-text">Sports world</li>
              </h6>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\home.html" id="categ">
                  <img src="images\home.png" class="icono"></a></li>
              <a href="C:\Users\mario\Desktop\Nueva carpeta\perfil.html" id="categ">Mi perfil</a>
              <li class="has-submenu">
                <a href="#0" id="categ">Categoria 1</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
              <li class="has-submenu">

                <a href="#0" id="categ">Categoria 2</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#0" id="categ">Categoria 3</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><input type="search" placeholder="Search" /></li>
              <li><button type="button" class="button"> <i class="fa-money">Search</i></button></li>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\login.html">Log In</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div id="backgroundmain">
    <div class="row">
        <div class="column show-for-small-up">
          <p><img src="images/SPORT.png" alt="background"></p>
        </div>
  </div>
  </div>
  <hr>
  <section id="destacados">
    <div class="row column">
      <h4 style="margin: 0  px;" class="text-center">Destacados</h4>
    </div>
    <hr>
    <div class="row small-up-1 medium-up-2 large-up-4">
      <div class="column show-for-small-up  ">

        <img src="https://i.blogs.es/e0416a/lexuuusss/2560_3000.jpg" alt="image for article" />
        <h2><a href="articulo1.html">Carros revolucionando la industria automotriz</a></h2>
        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper,
          magna diam.</p>

      </div>
      <div class="column show-for-small-up">
        <img
          src="https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2015/09/rugby.jpg?itok=s_EUz2XQ"
          alt="image for article" />
        <h2><a href="articulo2.html">Comienza el Munidal de Rugby, Reto: Japon</a></h2>
        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper,
          magna diam.</p>
          
      </div>
      <div class="column show-for-small-up">
        <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2018/04/20/15241817786811.png"
          alt="image for article" />
        <h2><a href="articulo3.html">Se inaugura la temporada 100 en la NFL</a></h2>
        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper,
          magna diam.</p>

      </div>
      <div class="column show-for-small-up">
        <img src="https://tv.orange.es/UpImages/3457/orangetvfutbolx_5a85dbcdc3975659590006c0d.jpg"
          alt="image for article" />
        <h2><a href="#">Lesion impide buen rendimiento del Argentino</a></h2>
        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper,
          magna diam.</p>
      </div>
      <div class="column show-for-small-up">
        <a href="subHCat.html" input="submit" class="button hollow tiny expanded">ir a categorias
        </a>
      </div>
      <div class="column show-for-small-up">
          <a href="subCat.html" input="submit" class="button hollow tiny expanded">ir a categorias
          </a>
        </div>
      
    </div>
  </section>
  <hr>
  <br />


  <div class="row">
    <div class="large-12 columns">
      <article>
        <div class="row">

          <div class="large-6 columns">
            <h3><a href="#">Conoce la ultima tecnología inmersa en el mundo automovilistico</a></h3>
            <p>
              <span><i class="fi-torso"> anonimo &nbsp;&nbsp;</i></span>
              <span><i class="fi-calendar"> xx/xx/19 &nbsp;&nbsp;</i></span>
              <span class="label success">Premium</span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
              aperiam nesciunt magni facilis ullam.</p>
          </div>
          <div class="large-6 columns">
            <p><img src="images\le.jpg" alt="image for article" alt="article preview image"></p>
          </div>
        </div>


        <div class="row">
          <div class="large-6 columns">
            <p><img src="images\cha.jpg" alt="image for article" alt="article preview image"></p>
          </div>
          <div class="large-6 columns">
            <h3><a href="#">Empieza La UEFA Champions league</a></h3>
            <p>
              <span><i class="fi-torso"> anonimo &nbsp;&nbsp;</i></span>
              <span><i class="fi-calendar"> xx/xx/16 &nbsp;&nbsp;</i></span>
              <span class="label success">Gratuito</span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
              aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>


    </div>
    </article>
  </div>
  </div>
  <nav aria-label="Pagination">
    <ul class="pagination text-center">
      <li class="pagination-previous disabled">Previous</li>
      <li class="current">
        <span class="show-for-sr">You're on page</span> 1
      </li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li class="ellipsis"></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li class="pagination-next">
        <a href="#" aria-label="Next page">Next</a>
      </li>
    </ul>
  </nav>
  <hr />
  </section>

  <footer>
    <h7>
      <li class="menu-text">Copyright ©,</li>
    </h7>
  </footer>


  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>