<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <header>
    <nav>
      <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

          <button class="menu-icon alert" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <h6>
                <li class="menu-text">Sports world</li>
              </h6>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\home.html" id="categ">
                  <img src="images\home.png" class="icono"></a></li>


            </ul>
          </div>

        </div>
      </div>
    </nav>
  </header>

  <body>
    <div id="backgroundmain">
      <div class="row">
        <div class="large.12 columns"><img src="images\sw.jpg"></div>

      </div>
    </div>

    <form class="log-in-form">
      <h4 class="text-center">Login with your email account</h4>
      <label>Email
        <input type="email" placeholder="somebody@example.com">
      </label>
      <label>Password
        <input type="password" placeholder="Password">
      </label>
      <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
      <p><input type="submit" class="button expanded" value="Log in"></input></p>
      <p class="text-center"><a href="#">Forgot your password?</a></p>
      <p class="text-center">¿No tienes cuenta?<a href="C:\Users\mario\Desktop\Nueva carpeta\registro.html">
          registrate</a></p>
    </form>




    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>