<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi perfil</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css" />
  <link rel="stylesheet" href="css/perfil.css" />
</head>

<body>
  <header>
    <nav>
      <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

          <button class="menu-icon alert" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <h6>
                <li class="menu-text">Sports world</li>
              </h6>
              <li><a href="home.html" id="categ">
                  <img src="images\home.png" class="icono"></a></li>
              <a href="perfil.html" id="categ">Mi perfil</a>
              <li class="has-submenu">
                <a href="#0" id="categ">Categoria 1</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
              <li class="has-submenu">

                <a href="#0" id="categ">Categoria 2</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#0" id="categ">Categoria 3</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="#0">Subcategoria 1</a></li>
                  <li><a href="#0">Subcategoria 2</a></li>
                  <li><a href="#0">Subcategoria 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><input type="search" placeholder="Search" /></li>
              <li><button type="button" class="button"> <i class="fa-money">Search</i></button></li>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\login.html">Log In</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section id="perfil">
    <div class="row column">
      <h4 style="margin-top: 40px;" class="text-center">Perfil</h4>
    </div>
    <hr>
    <div class="large-12 columns">
      <table>
        <tbody>
          <tr>
            <td>Nombre</td>
            <td></td>

          </tr>
          <tr>
            <td>Apellido</td>
            <td></td>

          </tr>
          <tr>
            <td>Correo</td>
            <td>example@example.com</td>

          </tr>
          <tr>
            <td>Genero</td>
            <td></td>

          </tr>
          <tr>
            <td>Tipo de usuario</td>
            <td>Premium/gratuito.</td>

          </tr>
        </tbody>
      </table>
      <form>
        <div class="column show-for-small-up">
          <a href="crearArticulo.html" input="submit" class="button expanded">Crear articulo
          </a>
        </div>
        <div class="column show-for-small-up">
          <a href="subCat.html" input="submit" class="button expanded">ir a categorias
          </a>
        </div>
          <div class="column show-for-small-up">
            <a href="subCat.html" input="submit" class="button expanded">ir a categorias
            </a>
          </div>
          <div class="column show-for-small-up">
            <a href="catalog.html" input="submit" class="button expanded">Catalogo
            </a>
          </div>
        </div>
      </form>

    </div>
  </section>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>


</body>

</html>