<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/registro.css">

</head>

<body>
  <header>
    <nav>
      <div>
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

          <button class="menu-icon alert" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <h6>
                <li class="menu-text">Sports world</li>
              </h6>
              <li><a href="C:\Users\mario\Desktop\Nueva carpeta\home.html" id="categ">
                  <img src="images\home.png" class="icono"></a></li>
              <li class="has-submenu">
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="right">
              <li>
                <h3><a href="C:\Users\mario\Desktop\Nueva carpeta\login.html">LogIn</a></h3>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </nav>
  </header>

  <body>
    <div id="backgroundmain">
      <div class="row">
        <div class="large.12 columns"><img src="images\registro.jpg"></div>

      </div>
      <section>
    </div>

    <form class="log-in-form">
      <h4 class="text-center">Crea tu cuenta</h4>
      <label>Nombre
        <input type="text" placeholder="Nombre de usuario">
      </label>
      <label>Apellido
        <input type="text" placeholder="Apellido usuario">
      </label>
      <label>Email
        <input type="email" placeholder="somebody@example.com">
      </label>
      <label>Password
        <input type="password" placeholder="Password">
      </label>
      <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
      <label>Genero
        <select>
          <option value="Premium">Masculino</option>
          <option value="Gratuita">Femenino</option>
          <option value="Gratuita">Otros</option>
        </select>
      </label>
      <label>Tipo de usuario
        <select>
          <option value="Visitante">Visitante</option>
          <option value="Autor">Autor</option>
          <option value="Moderador">Moderador</option>
          <option value="Administrador">Administrador</option>
        </select>
      </label>
      <label>Subscripcion
        <select>
          <option value="Premium">Premium</option>
          <option value="Gratuita">Gratuita</option>
        </select>
      </label>
      <p><input type="submit" class="button expanded" value="Registrarte"></input></p>

    </form>

    </section>


    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>