<div class="contenido row columns">
    <h4 class="text-center titles">Preguntas frecuentes</h4>
    <div class="card">
        <div class="card-body">
            <p class="ajust">
                Aqui encontarás preguntas frecuentes, por si tienes una duda aqui la puedes resolver, si en dado caso no está tu duda puedes dejar una pregunta que será contestada.   
            </p>
        </div>
        <br>    
    </div>
    <hr>
    <accordion [closeOthers]="oneAtATime">
        <accordion-group heading="¿que les inspiro a hacer una pagina de este tipo?" [isOpen]="true">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat vitae mi vitae ultrices. Cras aliquam orci a dictum commodo. In auctor euismod dui rutrum semper. Nulla semper ipsum consectetur, lobortis orci ut, aliquet mauris. Morbi mattis non lorem ac sagittis. Nulla id mollis nisi, et molestie dui. Etiam eget velit ornare turpis mollis euismod et ac mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur bibendum iaculis auctor. Praesent imperdiet ultricies dictum. Duis vel laoreet neque. In in justo massa. Vivamus posuere faucibus elit, ac scelerisque eros ullamcorper ut.</p>
        </accordion-group>
        <accordion-group heading="¿que les inspiro a hacer una pagina de este tipo?" [isOpen]="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat vitae mi vitae ultrices. Cras aliquam orci a dictum commodo. In auctor euismod dui rutrum semper. Nulla semper ipsum consectetur, lobortis orci ut, aliquet mauris. Morbi mattis non lorem ac sagittis. Nulla id mollis nisi, et molestie dui. Etiam eget velit ornare turpis mollis euismod et ac mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur bibendum iaculis auctor. Praesent imperdiet ultricies dictum. Duis vel laoreet neque. In in justo massa. Vivamus posuere faucibus elit, ac scelerisque eros ullamcorper ut.</p>
          </accordion-group>
          <accordion-group heading="¿que les inspiro a hacer una pagina de este tipo?" [isOpen]="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat vitae mi vitae ultrices. Cras aliquam orci a dictum commodo. In auctor euismod dui rutrum semper. Nulla semper ipsum consectetur, lobortis orci ut, aliquet mauris. Morbi mattis non lorem ac sagittis. Nulla id mollis nisi, et molestie dui. Etiam eget velit ornare turpis mollis euismod et ac mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur bibendum iaculis auctor. Praesent imperdiet ultricies dictum. Duis vel laoreet neque. In in justo massa. Vivamus posuere faucibus elit, ac scelerisque eros ullamcorper ut.</p>
          </accordion-group>
          <accordion-group heading="¿que les inspiro a hacer una pagina de este tipo?" [isOpen]="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat vitae mi vitae ultrices. Cras aliquam orci a dictum commodo. In auctor euismod dui rutrum semper. Nulla semper ipsum consectetur, lobortis orci ut, aliquet mauris. Morbi mattis non lorem ac sagittis. Nulla id mollis nisi, et molestie dui. Etiam eget velit ornare turpis mollis euismod et ac mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur bibendum iaculis auctor. Praesent imperdiet ultricies dictum. Duis vel laoreet neque. In in justo massa. Vivamus posuere faucibus elit, ac scelerisque eros ullamcorper ut.</p>
          </accordion-group>
          <accordion-group heading="¿que les inspiro a hacer una pagina de este tipo?" [isOpen]="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat vitae mi vitae ultrices. Cras aliquam orci a dictum commodo. In auctor euismod dui rutrum semper. Nulla semper ipsum consectetur, lobortis orci ut, aliquet mauris. Morbi mattis non lorem ac sagittis. Nulla id mollis nisi, et molestie dui. Etiam eget velit ornare turpis mollis euismod et ac mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur bibendum iaculis auctor. Praesent imperdiet ultricies dictum. Duis vel laoreet neque. In in justo massa. Vivamus posuere faucibus elit, ac scelerisque eros ullamcorper ut.</p>
          </accordion-group>
    
          <accordion-group heading="Sí tienes una duda dejala en este espacio se tomará en cuenta." [isOpen]="true">
           <label> Puedes escribir tu pregunta
            <input type="text">
        </label>
        <button class="success button small expanded " >Enviar pregunta</button>
          </accordion-group>
            

                
          