<div class="contenido">
    <section>
        <div class="row column callout success" (click)="dismissAlert();" *ngIf="showAlert">
            <h4>{{titleAlert}}</h4>
            <p class="text-justify">{{messageAlert}}</p>
        </div>
        <div class="row">
            <div class="row encabezado">
                <h4 class="titulo">Moderar articulo</h4>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre Articulo</th>
                        <th>Fecha Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of moderacionArticulo">
                        <td>{{item.titulo_articulo}}</td>
                        <td>
                            {{item.fecha_creacion | date: 'd/M/y'}}
                        </td>
                        <td>
                            <button class="button success" data-open="publicar-ad">
                                <i class="fi-pencil" (click)="publishedArticulo(item);">publicar</i>
                            </button>
                            <button class="button warning" data-open="edtar-ad" (click)="openModal(viewArticle,item)">
                                <i class="fi-trash">Ver</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="row encabezado">
                <h4 class="titulo">Moderar Comentario</h4>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Veces reportado</th>
                        <th>Id Comentario</th>
                        <th>Descripcion</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>30</td>
                        <td>1</td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in sodales augue. Nam aliquam nec metus eu pharetra. Ut in nunc commodo, interdum nibh eu, faucibus tellus.
                        </td>
                        <td>
                            Reginald Juarez
                        </td>
                        <td>
                            censurado
                        </td>
                        <td>
                            <button class="button success" data-open="edtar-ad">
                                        <i class="fi-trash">habilitar</i>
                                    </button>
                            <button class="button warning" data-open="edtar-ad">
                                <i class="fi-trash">bloquear</i>
                            </button>
                            <button class="button alert" data-open="del-ad">
                                <i class="fi-trash">eliminar</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="large-7 columns">
                <button class="button success" data-open="crear-cat">
                    <i class="fi-plus"> guardar cambios</i>
                </button>
            </div>
        </div>
    </section>
</div>

<ng-template #viewArticle>
    <div class="row">
        <section class="row columns">
            <h4 class="text-center titles">Articulo Editado</h4>
            <h5 class="text-center">{{articuloShow.articulo[0].titulo_articulo}}</h5>
        </section>
        <hr>
        <section>
            <h4 class="text-center">Parrafos</h4>
            <div class="row small-up-1 medium-up-3 large-up-3">
                <div class="column" *ngFor="let item of articuloShow.parrafos">
                    <p>
                        {{item.parrafo_articulo}}
                        <br>
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h4 class="text-center">Imagenes</h4>
            <div class="row small-up-1 medium-up-3 large-up-3">
                <div class="column" *ngFor="let item of articuloShow.imagenes">
                    <img src="{{item.path}}" width="100" height="100">
                </div>
            </div>
        </section>
    </div>
    <button class="close-button" (click)="modalRef.hide();" aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</ng-template>