.titulo {
    text-align: center;
    line-height: 50px;
    margin-top: 5%;
  }
  
  tr, td, th {
    border: rgba(128, 128, 128, 0.226) solid 1px;
    text-align: center;
  }
   
  h4, p {
    text-align: center;
  }
  