#backgroundmain {
    display: block;
    background-size: cover;
    height: 0%;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
  }
  a {
    
    text-align: justify;
  }
  
  h2 {
  
    font-size: x-large;
    line-height: 40px;
    font-family: "Times New Roman", Times, serif;
  }
  #art1 {
    text-align: justify;
  }
  .free{
background-color: yellow;
  }