<div class="contenido">
    <div id="backgroundmain">
        <div class="row">
            <div class="column show-for-small-up">
            </div>
        </div>
    </div>
    <hr>
    <section id="destacados">
        <div class="row column">
            <h4 style="margin: 0  px;" class="text-center">Destacados</h4>
        </div>
        <hr>
        <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column show-for-small-up  " *ngFor="let u of destacados">
                <img src="{{u.imagenes[0].path}}" alt="image for article" />
                <h2 *ngFor="let v of u.articulo"><a>{{v.titulo_articulo}}</a></h2>
                <p>Ref Link: <a href="{{u.links[0].link_articulo}}" target="_blank">{{u.links[0].link_articulo}}</a></p>
            </div>
        </div>
    </section>
    <hr>
    <br />
    <div class="row columns">
        <h4 class="titles text-center">Te podría interesar</h4>
        <div class="callout">
            <article *ngFor="let u of articulosShow">
                <div class="row">
                    <div class="large-6 columns">
                        <p><img src="https://img.uefa.com/imgml/uefacom/ucl/social/og-default.jpg" alt="image for article" alt="article preview image"></p>
                    </div>
                    <div class="large-6 columns">
                        <div *ngFor="let v of u.articulo">
                            <h3><a href="#">{{v.titulo_articulo}}</a></h3>
                            <h5><span class="label success2">Creado el: {{ v.fecha_creacion}}</span> <span class="label success2">Publicado el: {{ v.fecha_publicacion}}</span></h5>
                        </div>
                        <p>{{u.parrafos[0].parrafo_articulo}}</p>
                    </div>
                </div>
            </article>
        </div>
        <pagination [totalItems]="showNmber" (pageChanged)="pageChanged($event);" (click)="changePage();" class="text-center"></pagination>
    </div>
</div>