#backgroundmain {
    background-image: url('https://cdn.shopify.com/s/files/1/1956/9819/collections/National-Sports-Team-Sports-Header-1880X720-min_bf7dc71b-fcf2-4366-8afc-ab7a2b3f841c.jpg?v=1526410744');
    background-size: cover;
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    text-align: justify;
}

h2 {
    font-size: x-large;
    line-height: 40px;
    font-family: "Times New Roman", Times, serif;
}

#art1 {
    text-align: justify;
}

.free {
    background-color: yellow;
}