<div class="Contenido">
    <section>
        <div class="row columns">
            <div class="callout small secondary" *ngIf="showCalloutMessage" (click)="dismissAlert();">
                <h5>{{titleAlert}}</h5>
                <p>{{messageAlert}}</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="row encabezado">
                <h4 class="titulo titles">Publicidad</h4>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of adsObject">
                        <td>{{item.nombre_publicidad}}</td>
                        <td>
                            <img src="{{item.imagen_publicidad}}" alt="Imagen de publicidad" style="height: 100px; width: 100px;">
                        </td>
                        <td>
                            <button class="button warning" data-open="edtar-ad" (click)="openModal(updateAnuncio,item.nombre_publicidad,item.imagen_publicidad,item.id_publicidad);">
                                <i class="fi-trash">editar</i>
                            </button>
                            <button class="button alert" data-open="del-ad" (click)="deleteAds(item)">
                                    <i class="fi-trash">eliminar</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="large-7 columns">
                <button class="button success" data-open="crear-cat" (click)="openModal(crearAnuncio, null, null);">
                    <i class="fi-plus"> Agregar Anuncio</i>
                </button>
            </div>
        </div>
    </section>
</div>

<ng-template #crearAnuncio>
    <h4 class="titles text-center">Agregar un nuevo Anuncio</h4>
    <hr>
    <section class="row columns">
        <form>
            <div>
                <label>Link del Anuncio</label>
                <input type="text" required placeholder="ingresa el link del anuncion" name="newTitleAd" [(ngModel)]="newTitleAd">
            </div>
            <div>
                <label>Imagen</label>
                <input type="text" required placeholder="ingresa la dirección web de la imagen" [(ngModel)]="newImgAd" name="newImgAd">
            </div>
            <div>
                <button class="button success small button-round" (click)="createAd();">Agregar anuncio</button>
            </div>
        </form>
    </section>

    <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</ng-template>

<ng-template #updateAnuncio>
    <h4 class="titles text-center">Editar Anuncio {{updateIdAd}}</h4>
    <hr>
    <section class="row columns">
        <form>
            <div>
                <label>Link del Anuncio</label>
                <input type="text" required placeholder="ingresa el link del anuncion" name="newTitleAd" [(ngModel)]="updateTitleAd">
            </div>
            <div>
                <label>Imagen</label>
                <input type="text" required placeholder="ingresa la dirección web de la imagen" [(ngModel)]="updateImgAd" name="newImgAd">
            </div>
            <div>
                <button class="button success small button-round" (click)="updateAds();">Editar anuncio</button>
            </div>
        </form>
    </section>

    <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</ng-template>