<div class="Contenido">
    <section>
        <div class="row">
                <div class="row encabezado">
                        <h4 class="titulo">Ads</h4>
                    </div>
            <table>
                <thead>
                    <tr>
                        <th>Id Anuncio</th>
                        <th>Nombre anuncio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            Anuncio 1
                        </td>
                        <td>
                            <button class="button success" data-open="publicar-ad">
                                <i class="fi-pencil">publicar</i>
                            </button>
                            <button class="button warning" data-open="edtar-ad">
                                <i class="fi-trash">editar</i>
                            </button>
                            <button class="button alert" data-open="del-ad">
                                    <i class="fi-trash">eliminar</i>
                                </button>
                        </td>
                    </tr>
                    <tr>
                            <td>2</td>
                            <td>
                                Anuncio 2
                            </td>
                            <td>
                                <button class="button success" data-open="publicar-ad">
                                    <i class="fi-pencil">publicar</i>
                                </button>
                                <button class="button warning" data-open="edtar-ad">
                                    <i class="fi-trash">editar</i>
                                </button>
                                <button class="button alert" data-open="del-ad">
                                        <i class="fi-trash">eliminar</i>
                                    </button>
                            </td>
                        </tr>
                        <tr>
                                <td>3</td>
                                <td>
                                    Auncio 3
                                </td>
                                <td>
                                    <button class="button success" data-open="publicar-ad">
                                        <i class="fi-pencil">publicar</i>
                                    </button>
                                    <button class="button warning" data-open="edtar-ad">
                                        <i class="fi-trash">editar</i>
                                    </button>
                                    <button class="button alert" data-open="del-ad">
                                            <i class="fi-trash">eliminar</i>
                                        </button>
                                </td>
                            </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="large-7 columns">
                <button class="button success" data-open="crear-cat">
                    <i class="fi-plus"> Agregar Anuncio</i>
                </button>
            </div>
        </div>
    </section>

    
</div>