/* You can add global styles to this file, and also import other style files */

// Import Foundation for Sites
// See https://foundation.zurb.com/sites/docs/sass.html for detailed info.
// Import Angular ngx-foundation Framework Added Styles
@import url('https://fonts.googleapis.com/css?family=Lobster|Notable&display=swap');
@import '~foundation-sites/scss/foundation';
@include foundation-everything;
@import "~ngx-foundation/assets/scss/main";

/* variables generales */

$primary: #FFF;
$secondary: #FFF;
$primary-twoo: #51355A;
$secondary-twoo: #2A0C4E;
$back: #F5F8DE;
$font-import: 'Lobster',
cursive;
$font-import-b: 'Notable',
sans-serif;

/* clases dentro de todo el sistema*/

.contenido {
    background: $back;
    //color: black;
    //font-family: Arial;
    //height: 100vh;
}

.titles {
    font-family: $font-import;
}

.padding {
    padding: 5px;
    margin: 10px;
}

#responsive-menu,
footer {
    background-color: $secondary !important;
    padding: 2px;
    a {
        color: black;
    }
    ul {
        background-color: $secondary !important;
        font-family: $font-import-b;
    }
}

.page {
    background-color: white !important;
}


/* mixins */

@mixin customButon($color,
$radius,
$alto,
$ancho) {
    background: $color;
    border-radius: $radius;
    * {
        height: $alto;
        width: auto;
    }
}


/* selectores */

.button-round {
    @include customButon($secondary-twoo,
    15px,
    5px,
    5px);
}

.sect {
    background-color: $primary-twoo;
    color: white;
}
