body {
    margin: 0;
    padding: 0;
    background: #3b4465;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }


.icono{
    display: block;
    margin: auto;    
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.button{  
    border-radius: 8px; 
    background-color: #2150ac;   
}
.button:hover{
    background-color: #d6d5ce;
}
#categ{
    line-height: 40px;
    color: #000000;
}
#categ:hover{
    background-color: #4985df;
}
.align-left{ 
    height: 20px;
    line-height: 20px;
    background-color: white;  
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}
a{
    color: #f0cd6e;
}
h6{
    color: #000000;
    font-size: xx-large;
    line-height: 40px;
    font-family: "Times New Roman", Times, serif;
}
#backgroundmain{
    background-image: url('C:\Users\mario\Desktop\Nueva carpeta\images\SPORTS.png');
	background-size:cover;
	height:300px;
	margin: 40px;
    margin-left: 300px
    
}
h4{
    color: white;
    font-size: xx-large;
    line-height: 40px;
    font-family: "Times New Roman", Times, serif;

}
#perfil{
    color: #000000;
}
li{
    color: transparent;
}