<div class="contenido row columns">
    <div class="padre">
        <div class="hijo">
            <div class="card">
                <div class="card-body">
                    <form class="log-in-form">
                        <h4 class="text-center titles">Ingresar</h4>
                        <label>Correo </label>
                        <input type="email" placeholder="example@example.com" [(ngModel)]="correoLog" name="correoLog">
                        <label>Contraseña
                                <input type="password" placeholder="Ingresa tu contraseña aquí" [(ngModel)]="passLog" name="passLog">
                            </label>
                        <button type="submit" class="button expanded success" value="Ingresar" (click)="login();">
                            <i class="material-icons">
                                lock_open
                                </i>
                        </button>
                        <p class="text-center"><a>Olvidaste tu contraseña?</a></p>
                        <p class="text-center"><a (click)="openModal(registro);">¿No tienes cuenta? Creala...</a></p>
                    </form>
                </div>
            </div>
            <div *ngIf="showAlert">
                <alert type="alert" (click)="donShow();">
                    <strong>No hemos podido hacer login </strong> Asegurate de ingresar los datos correctos!
                </alert>
            </div>
        </div>
    </div>
</div>

<ng-template #registro>
    <h4 class="text-center titles">Registrate</h4>
    <form class="log-in-form">
        <div class="row">
            <div class="columns large-6 medium-6 small-6">
                <label>Nombre
                    <input type="text" placeholder="Nombre de usuario">
                </label>
            </div>
            <div class="columns large-6 medium-6 small-6">
                <label>Apellido
                    <input type="text" placeholder="Apellido usuario">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-6 medium-6 small-6">
                <label>Email
                    <input type="email" placeholder="somebody@example.com">
                </label>
            </div>
            <div class="columns large-6 medium-6 small-6">
                <label>Password
                    <input type="password" placeholder="Password">
                </label>
            </div>
        </div>
        <div class="row columns">
            <label>Genero </label>
            <select>
                        <option value="{{u.id_genero}}" *ngFor="let u of generos">{{u.nombre_genero}}</option>
            </select>
        </div>
        <div class="row columns">
            <label>Tipo de usuario
                    <select>
                        <option value="{{u.id_tipo_usuario}}" *ngFor="let u of roles">{{u.tipo_usuario}}</option>
                    </select>
                </label>
        </div>
        <div class="row columns">
            <input type="submit" class="button expanded" value="Registrarte">
        </div>
    </form>
    <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</ng-template>