#backgroundmain{
    background-image: url('http://cdn2.hubspot.net/hub/327428/file-420788391-jpg/crecimiento.jpg');
    background-size:cover;
    height: 400px;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}